.changeContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.changeContainer form {
    display: flex;
    flex-direction: column;
}
.changeContainer form div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.changeContainer form div input {
    width: 100%;
    max-width: 350px;
    padding: 0.5rem;
    border: 1px solid lightgray;
    

}
.changeContainer form button {
    width: 100%;
    max-width: 350px;
    color: #fff;
    padding: 0.5rem;
    border: none;
    background-color: orangered;
    margin-top: 2rem;
}
.error {
    color: red;
    font-size: 14px;
}
.success {
    color: green;
    font-size: 14px;
}