.title {
    text-align: center;
    margin: 4rem 0 2rem 0;
}

    .title span {
        font-size: 3rem;
    }

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    padding: 1rem;
}

    .fl-table td, .fl-table th {
        text-align: center;
        padding: 8px;
    }

    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 14px;
    }

    .fl-table thead th {
        color: #ffffff;
        background-color: lightgray;
        color: rgb(33, 37, 41);
        font-size: 16px;
        font-weight: 500;
    }


        .fl-table thead th:nth-child(odd) {
            color: #ffffff;
            background: rgb(33, 37, 41);
            font-size: 16px;
            font-weight: 500;
        }

    .fl-table tr:nth-child(even) {
        background-color: #F8F8F8;
    }

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

        .fl-table tbody tr:nth-child(odd) {
            background: none;
        }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.historyFilter {
    display: flex;
    flex-direction: column;
}

    .historyFilter label {
        font-weight: 500;
    }

    .historyFilter input {
        width: 10rem;
    }

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .pagination .pagination-list {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        
        bottom: 0;
        border-radius: 4px;
        padding: 1rem;
        width: 30rem;
        margin-top: 1rem;
    }

@media screen and (max-width: 500px) {
    .pagination .pagination-list {
        width: 100%;
    }
}

.pagination .pagination-list li {
    list-style-type: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 49rem;
    position: relative;
}

.pagination .pagination-list li span {
    color: #fff;
    margin: 0 4px;
    font-weight: bold;
}

.pagination .pagination-list li a {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.pagination .pagination-list li.active a {
    background-color: blue;
    color: white;
    transition: all 0.3s;
}

@media screen and (max-width: 500px) {
    .pagination .pagination-list {
        width: 100%;
    }

        .pagination .pagination-list li {
            width: 1.5rem;
            height: 1.5rem;
        }

            .pagination .pagination-list li a {
                width: 1.5rem;
                height: 1.5rem;
            }
}
@media screen and (max-width: 767px) {
    main {
        height: 39rem;
        position: relative;
    }
}
.search {
    padding: 0.5rem;
    
}
.search div {
   width: fit-content;
   background-color: yellow;
   position: relative;
}
.search div input {
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid lightgray;
}
.search div svg {
    position: absolute;
    right: 0;
    top: 0.5rem;
    
}