
#active, #pasive {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#active {
    color: green;
}

#pasive {
    color: red;
}


.checkThisUser {
    border: none;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 2px;
    padding: 0.25rem;
}

.changePassword {
    text-decoration: none;
    background-color: orangered;
    color: #fff;
    border-radius: 2px;
    padding: 0.25rem;
}

.searchUser {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

    .searchUser input {
        outline: none;
        border: 1px solid lightgray;
        padding: 0.25rem;
    }

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

    .paginationContainer button {
        background-color: lightskyblue;
        color: #303030;
        border: none;
        border-radius: 4px;
        margin: 0.075rem;
        width: 2rem;
        height: 2rem;
    }

    .paginationContainer .active {
        background-color: darkblue;
        color: #fff;
    }


    tbody .timeBtns button {
        border: none;
        padding: 0.5rem;
        border-radius: 2px;
        width: 4rem;
        text-align: center;
        height: 3rem;
        color: #fff;
        transition: all 0.2s;
    }
        tbody .timeBtns button:hover {
            transform: scale(1.1);
        }
        tbody .timeBtns .mines {
            background-color: red;
        }
tbody .timeBtns .plus {
    background-color: green;
}