
@{
    ViewBag.Title = "PaymentsHistory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link href="~/Content/Assets/Styles/PaymentHistory.css" rel="stylesheet" />

<main>
    <h2>Satın Alma Geçmişi</h2>
    <div class="searchUser">
        <label>
            Kullanıcı Ara <i class="fa fa-search" aria-hidden="true"></i>
        </label>
        <input type="text" id="findUser" name="findUser" placeholder="Ad Soyad veya Kullanıcı Adı" value="" />
    </div>

    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">Kullanıcı Adı</th>
                <th scope="col">Dekont</th>
                <th scope="col">Dekont İndir</th>
                <th scope="col">Satın Alma Tarihi</th>
                <th scope="col">IP</th>
                <th scope="col">Paket</th>
                <th scope="col">Durumu</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Mesaj</th>
            </tr>
        </thead>
        <tbody>
            <!-- Kullanıcılar buraya dinamik olarak eklenecek -->
        </tbody>
    </table>

    <!-- Pagination butonlarının ekleneceği alan -->
    <div class="paginationContainer">
        <div class="pagination">
            <!-- Butonlar jQuery ile dinamik olarak oluşturulacak -->
        </div>
    </div>
</main>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Assets/Scripts/PaymentHistory.js"></script>

